/* .p {
    color: brown;
    background-color: lavender;
} */

.map-div {
    width:700px;
    height:280px; 
    border: 2px solid palegreen; 
    text-align:center;
}

.box {
    min-height: 50px;
    max-height: 75px;
    background: rgb(32, 32, 32);
    margin: 5px;
    color: white;
}

.box h2 {
    font-size: 20px;
}

.population-box {
    height: 150px;
    background: rgb(32, 32, 32);
    margin: 5px;
    color: white;
    padding: 3px;
}