
<div class="content">
        <div class="p container-fluid" *ngIf="country">
          <div>
              <h3>{{ country.name }}</h3><span><i class="fas fa-heart"></i></span>
              <hr>
          </div>
          <div>
            COUNTRY INFORMATION
            
          </div>
                <div class="col-md-3"><span>area: </span>{{country.area}} 
                  <span>name: </span>{{country.name}}
                </div>
                <div class="col-md-5"><img alt="{{country.name}}" src="{{country.flag}}" height="80px" width="120px"></div>
              </div>
              <div class="container">
                  <div #gmap class="map-div"></div>
                </div>
            
</div>
