<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/home">Find my Country</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a *ngIf="loggedIn" routerLink="/countries">Home</a></li>
        <li><a *ngIf="loggedIn" routerLink="/favorites">Favorites</a></li>
        <li><a *ngIf="!loggedIn" routerLink="/register"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav> 
  
<router-outlet></router-outlet>
<app-message></app-message>

