/* You can add global styles to this file, and also import other style files */

body {
    background-image: url("/assets/images/maps.jpg");
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #666666;
}

.content {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 10px;
}

.content .container {
    max-width: 900px;
}

button, .btn-primary, .btn-primary.focus, .btn-primary:focus {
    width: 350px;
    height: 40px;
    border-radius: 2px !important;
    background-color: #de1d98 !important;
}