.register-div {
    background-color: white;
    width: 700px;
    min-height: 300px;
    border: 1px solid teal;
    padding: 10px;
    margin: 0 auto;
}

.register-div > h2,h1,p {
    text-align: center;
}

.register-div p {
    color: lightslategray;
}

.form-div {
    width: 350px;
    margin: 0 auto;
}